<!DOCTYPE html>
<html>
<title>First Alghorithm</title>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <div id="app">
        <v-app>
            <v-content>
                <v-container>
                    <template>
                        <template>
                            <h1>Testando funções de aproximação</h1>
                            <v-divider></v-divider>
                            <br>

                            <v-data-table :headers="headers" :items="trainings" class="elevation-1">

                                <template v-slot:items="props">
                                    <td>{{props.item.id}}</td>
                                    <td>{{props.item.error}}</td>
                                    <td>{{props.item.output.toFixed(8) }} </td>
                                </template>

                            </v-data-table>
                        </template>

                        <v-form ref="form">
                            <v-text-field label="Entrada" maxlength="4" placeholder="Entre  0 e 1" v-model="entrada"
                                required></v-text-field>

                            <v-text-field label="Busca" maxlength="4" placeholder="Entre  0 e 1" v-model="busca"
                                required></v-text-field>

                            <v-text-field label="Epocas" maxlength="4" v-model="epocas" required></v-text-field>

                            <v-btn color="error" @click="trainings=[],entrada='',busca='',epocas=''">
                                Limpar
                            </v-btn>

                            <v-btn color="info" @click="executar">
                                Confirmar
                            </v-btn>
                        </v-form>
                    </template>
                </v-container>
            </v-content>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <!-- <script src="./js/funcao-aproximacao.js"></script> -->
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    entrada: '',
                    busca: '',
                    peso: '',
                    epocas: '',
                    output: '',
                    error: '',
                    training: {},
                    trainings: [],
                    headers: [
                        { text: 'Època', value: 'epoca' },
                        { text: 'Erro', value: 'erro' },
                        { text: 'Saida', value: 'saida' },
                    ]
                }
            },
            methods: {
                derivada(n) {
                    return n * (1 - n)
                },
                executar() {
                    let target = this.busca
                    let weight = Math.random() // PESO SIGNÁPTICO
                    let bias = 2 //BIAS

                    this.trainings = []

                    for (let i = 1; i <= this.epocas; i++) {

                        this.training.id = i
                        // this.training.output = Math.tanh(this.entrada * weight)// função hiperbólica, função de ativação
                        // this.training.output = 1 / (1 + Math.pow(Math.E, -(this.entrada * weight))) // função sigmoide, função de ativação
                        this.training.output = Math.max((this.entrada * weight), 0) // função ReLU, função de ativação



                        this.training.error = this.zeros(Math.abs((target - this.training.output))).toFixed(4)

                        weight += this.entrada * this.derivada((target - this.training.output)) * bias

                        this.trainings.push(this.training)

                        if (target == this.training.output.toFixed(2)) {
                            i = parseInt(this.epocas) + 1
                        }

                        this.training = {}
                    }
                },
                zeros(n) {
                    if (n == 0) {
                        return '0.0000'
                    }
                    else {
                        let str = n.toString().trim()
                        let length = str.length
                        let dif = 6 - length
                        if (dif > 0) {
                            for (let i = 0; i < dif.length; i++) {
                                str += '0'
                            }
                        }
                        n = parseFloat(str)
                        return n
                    }
                }
            }
        })
    </script>
</body>

</html>